ENVIRONMENT=development

CLERK_JWT_ISSUER_DOMAIN=https://your-clerk-domain.clerk.accounts.dev
CLERK_SECRET_KEY=your_clerk_secret_key_here
VITE_CLERK_PUBLISHABLE_KEY=your_clerk_publishable_key_here

VITE_CLERK_TEST_EMAIL=test@example.com
VITE_CLERK_TEST_PASSWORD=secret